body {
    padding: 0;
    font-family: sans-serif;
    background: darkgreen;
}

.table {
    width: 1200px;
    margin: 0 auto;
}

.card {
    width: 150px;
    height: 218px;
    background-size: 150px 218px;
}

.controls {
    margin-bottom: 10px;
    background: #007800;
    padding: 3px;
    display: flex;
}

.controls div {
    margin-left: 20px;
}

.top {
    margin-bottom: 20px;
    display: flex;
}

.deck {
    margin-right: 20px;
}

.foundation, .deck-empty {
    width: 150px;
    height: 218px;
    border: 1px solid black;
    border-radius: 7px;
}

.waste {
    float: left;
}

.waste .card {
    float: left;
    margin-left: -125px;
}

.waste .card:first-child {
    margin-left: 0;
}

.foundations {
    margin-left: auto;
    display: flex;
}

.foundation {
    margin: 0 10px;

    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.foundation:first-child {
    margin-left: 0;
}

.foundation:last-child {
    margin-right: 0;
}

.bottom {
    display: flex;
    justify-content: center;
}

.pile {
    margin: 0 auto;
    width: 150px;
}

.pile:first-child {
    margin-left: 0;
}

.pile:last-child {
    margin-right: 0;
}

.subpile {
    margin-top: -186px;
}

.subpile:first-child {
    margin-top: 0;
}
